@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');

$primaryColor: #00BB9F;


*, body {
    margin: 0;
    padding: 0;
    box-shadow: 0;
    overflow-y: none;
    font-family: Lato, Helvetica, sans-serif;
}

